<%=  javascript_include_tag 'dashboard', nonce: true %>

<noscript>
    <div class="alert alert-warning" role="alert">
        JavaScript must be enabled to view widgets.
    </div>
</noscript>

<div class="row d-none homepage-widgets g-5">
    <div class="col-12 col-lg-6">
        <div class="row g-5 g-lg-3">
            <div class="col-12">
                <div class="d-flex flex-column rounded" style="min-width: 0; word-wrap: break-word;">
                    <%= render partial: "/widgets/maintenance" %>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column rounded overflow-x-auto" style="min-width: 0; word-wrap: break-word;">
                    <%= render partial: "/widgets/newsletter" %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="d-flex flex-column rounded" style="min-width: 0; word-wrap: break-word;">
            <%= render partial: "/widgets/documentation" %>
        </div>
    </div>

    <div class="col-12 col-lg-12">
        <div class="d-flex flex-column rounded" style="min-width: 0; word-wrap: break-word;">
            <%= render partial: "widgets/job_queue" %>
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="d-flex flex-column rounded h-100 overflow-x-auto" style="min-width: 0; word-wrap: break-word;">
            <%= render partial: "widgets/partition_status" %>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="d-flex flex-column rounded h-100 overflow-x-auto" style="min-width: 0; word-wrap: break-word;">
            <%= render partial: "widgets/account_list" %>
        </div>
    </div>
</div>
