<li class="nav-item dropdown" role="none">
  <button type="button" 
          class="nav-link dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          aria-controls="<%= id %>-submenu"
          aria-haspopup="true"
          role="menuitem" 
          title="<%= title %>">
    <i class="fas fa-<%= icon %>"></i>
    <span class="flex-grow-1"><%= text %></span>
  </button>

  <ul class="dropdown-menu" title="<%= title %>" role="menu">
    <%= yield %>
  </ul>
</li> 
