<% if @featured_group.present? %>
  <% group = @featured_group %>
  <%= render layout: "layouts/nav/dropdown", locals: { 
        id: "group-#{group.title.parameterize}",
        icon: "star",
        title: group.title,
        text: group.title
      } do %>
    <% OodAppGroup.groups_for(apps: group.apps, group_by: :subcategory).each_with_index do |g, index| %>
      <% g.apps.each do |app| %>
        <% app.links.each do |link| %>
          <%= link_to link.url.to_s,
              title: link.title,
              class: "nav-link submenu-item #{current_app_url?(link.url) ? 'active' : ''}",
              target: link.new_tab? ? "_blank" : nil do %>
            <%= icon_tag(link.icon_uri, classes: []) %>
            <span>
              <%= link.title %>
              <% if link.subtitle.present? %>
                <small class="d-block text-muted"><%= link.subtitle %></small>
              <% end %>
            </span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= content_tag "div", "", class: "dropdown-divider", role: "separator" %>
    <%= link_to apps_index_path, 
        class: "nav-link submenu-item #{current_app_url?(apps_index_path) ? 'active' : ''}", 
        title: t('dashboard.nav_all_apps') do %>
      <i class="fas fa-th"></i> <%= t('dashboard.nav_all_apps') %>
    <% end %>
  <% end %>
<% end %>