<% if @featured_group.present? %>
  <% group = @featured_group %>
  <%= render layout: "layouts/nav/top/dropdown", locals: { 
        id: "group-#{group.title.parameterize}",
        icon: "star",
        title: group.title,
        text: group.title
      } do %>
    <%= render partial: 'layouts/nav/top/group_items', locals: local_assigns %>

    <%= content_tag "div", "", class: "dropdown-divider", role: "separator" %>
    <a href="<%= apps_index_path %>" class="dropdown-item">
      <i class="fas fa-th" aria-hidden="true"></i>&nbsp;&nbsp;<%= t('dashboard.nav_all_apps') %>
    </a>
  <% end %>
<% end %>
